<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <div th:if="${jobs} and ${jobs.size()}">
        <h3 th:text="${hits}"></h3>
        <table th:each="job : ${jobs}" class="job-listing">
            <tr th:each="item : ${job}">
                <td th:text="${#strings.capitalizeWords(item.key)}"></td>
                <td th:text="${item.value}"></td>
            </tr>
        </table>

    </div>

</div>

</body>
</html>